{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 43.013244739925234,
    "longitude": -87.93936878442766,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "America/Chicago",
    "external_url": "http://suckit.site:11523",
    "internal_url": "http://172.16.33.131:8123",
    "currency": "USD",
    "country": "US",
    "language": "en"
  }
}